<div id="container">
	   <div id="banner"></div>
			<img src="/assets/img/burger.png"/>
			<h1> login </h1>
        <div id="top">
            <form action="/burgers/create" method="POST">
            <input class="form-control form-control-lg newBurger" name="burger_name" id="enter_text" type="text">
            <div id="btn">
                <button type="submit" class="btn btn-primary" id ="create">Create</button>
            </div>
            </form>
        </div>
		<div id="result">
		<div class="col-xs-6 text-left" class="task">
			<div class="row">
			  {{#each burger_data}}
			  	{{#unless this.devoured}}
				<div class="col-xs-9 text-left">
					<pre>{{this.id}}. {{this.burger_name}}</pre>
				  		<!-- {{this.Date}} -->
				</div>
				<div class="col-xs-3 text-center">
					<form class="devour button-size">
						<input class="burger_id" type="text" value={{this.id}}>
						<button type="submit" class="btn btn-primary">Devour it!</button>
					</form>
				</div>
				{{/unless}}
			  {{/each}}
			</div>
		</div>
		<div class="col-xs-6 text-center" class="task">
			  {{#each burger_data}}
			  	{{#if this.devoured}}
			  		<input class="form-control" type="text" placeholder="{{this.id}} . {{this.burger_name}}" readonly>
				{{/if}}
			  {{/each}}
		</div>
    </div>
    <div id="banner"></div>
</div>


